<div class="ui container">
  <form class="ui form form-card">
    <h1 class="ui dividing header">New Class Information</h1>
    <div class="field">
      <label>University</label>
      <div class="field">
        <select class="ui fluid search dropdown" [(ngModel)]="class.university" name="university">
          <option *ngFor="let uni of universities" [value]="uni">{{uni}}</option>
        </select>
      </div>
    </div>

    <div class="field">
      <label>Class Code</label>
      <div class="field">
        <input type="text" placeholder="Class Code"
        [(ngModel)]="class.code" name="ClassCode" #name="ngModel" (ngModelChange)="upperCaseCode()" autocomplete="off">
      </div>
    </div>

    <div class="field">
      <label>Class Name</label>
      <div class="field">
        <input type="text" placeholder="Class Name"
        [(ngModel)]="class.name" name="ClassName" #name="ngModel">
      </div>
    </div>

    <div class="field">
        <label>Professor</label>
        <div class="field">
          <input type="text" placeholder="Professor"
          [(ngModel)]="class.professor" name="professor" #name="ngModel">
        </div>
      </div>

    <div class="field">
        <label>Days and Times</label>
        <div class="field">
          <input type="text" placeholder="Days and Times (eg: 'MWF 14:00-15:00, R 10:00-11:30')"
          [(ngModel)]="class.time" name="daysAndTimes" #name="ngModel">
        </div>
    </div>
    
    <div class="field">
      <label>Semester</label>
      <div class="field">
        <select class="ui fluid search dropdown" [(ngModel)]="class.semester" name="semester">
          <option value="1" selected>Spring 2018</option>
          <option value="2">Fall 2017</option>
          <option value="3">Summer 2017</option>
          <option value="4">Spring 2017</option>
          <option value="5">Fall 2016</option>
          <option value="6">Summer 2016</option>
          <option value="7">Spring 2016</option>
        </select>
      </div>
    </div>

    <div class="ui button primary" tabindex="0" (click)="addClass()">Add Class</div>
    <div class="ui negative message" *ngIf="error !== ''">
      <div class="header">
        {{error}}
      </div>
    </div>
  </form>
</div>
