<div class="ui container">
  <form class="ui form form-card">
    <h4 class="ui dividing header">New Class Information</h4>
    <div class="field">
      <label>Class Code</label>
      <div class="field">
        <input type="text" name="class[code]" placeholder="Class Code">
      </div>
    </div>
    <div class="field">
      <label>Class Name</label>
      <input type="text" name="class[name]" placeholder="Class Name">
    </div>
    <div class="field">
      <label>Professor</label>
      <input type="text" name="class[professor]" placeholder="Professor">
    </div>
    <div class="field">
      <label>Section</label>
      <input type="text" name="class[section]" placeholder="Section">
    </div>
    
    <div class="field">
      <label>Class Days and Times </label>
      <input type="text" name="class[time]" placeholder="Class Days and Times">
    </div>
    
    <div class="six wide field">
      <label>Semester</label>
      <div class="field">
        <select class="ui fluid search dropdown" name="card[semester]">
          <option value="">Semester</option>
          <option value="1">Spring 2016</option>
          <option value="2">Summer 2016</option>
          <option value="3">Fall 2016</option>
          <option value="4">Spring 2017</option>
          <option value="5">Summer 2017</option>
          <option value="6">Fall 2017</option>
          <option value="7">Spring 2018</option>
        </select>
      </div>
    </div>
    <div class="ui button" tabindex="0">Add Class</div>
  </form>
</div>
