nav {
    height: 54px;
    width: 100%;
    background-color: #FFEB3B;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav div.ui.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 42px;
}

@media (max-width: 767px) {
    div.ui.container {
        width: 100% !important;
    }
}

.logo {
    font-size: 2.5rem;
    color: black;
    font-weight: 700;
}