.ui.container {
    padding-top: 20px;
}

.notes-card {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.card-title {
    width: 100%;
    background-color: #2b7a78;
    font-size: 3rem;
    padding: 20px;
    color: white;
    font-weight: 900;
}

.card-notes {
    padding: 20px;
    background-color: white;
}

.full-screen {
    position: absolute;
    top: 0px;
    left: 0;
    padding-top: 54px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.note-item * {
    margin-bottom: 5px;
}

.star {
    color: rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.star:hover {
    transform: scale(1.2, 1.2)
}

.star:active {
    transform: scale(0.8, 0.8)
}

.star-starred {
    color: #FBC02D;
}

.star-container {
    width: 20px;
    height: 20px;
}