.page {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.chat-wrapper {
    display: flex;
    flex-direction: row;
    height: 95%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.chat-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 3;
}

.chat-selector {
    height: 100%;
    flex: 1;
    border-right: #2b7a78 solid 1px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.chat-selector a {
    padding: 10px;
    border-bottom: black solid 1px;
    color: black;
    transition: all 0.1s ease-in-out;
}

.chat-selector a.chosen {
    border-left: #2b7a78 solid 5px;
    background-color: rgba(255, 255, 255, 1);
}

.chat-selector a .course-name {
    transition: all 0.1s ease-in-out;
}

.chat-selector a:hover .course-name {
    margin-left: 5px;
}

.chat-selector a:hover {
    background-color: white;
}

.chat-selector-message i {
    color: #2b7a78;
}

.chat-header {
    background-color: #2b7a78;
    padding: 5px 10px;
    font-weight: 700;
    color: white;
}
.chat-input {
    max-height: 100px;
    transition: all 0.1s ease-in-out;
}

.chat-body {
    transition: all 0.1s ease-in-out;
    height: 200px;
    width: 100%;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 5px 30px;
}

.chat-bubble {
    margin: 5px;
    background-color: #bce0df;
    padding: 5px 10px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 10vw;
    min-width: 30vw;
    flex-shrink: 0;
}

.chat-bubble-other {
    background-color: #8bd3cf;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    margin-right:10vw;
    margin-left: 10px;
    align-self: flex-start;
}

::-webkit-scrollbar {
    width: 3px;
}

.chat-time {
    font-size: 0.7rem;
    height: 15px;
    margin-left: 20px;
}

.chat-content {
    flex: 1;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #3aafa9;
}

input {
    border-width: 0px;
    padding: 3px 6px;
}