<div class="page">
  <div class="chat-wrapper ui container" *ngIf="currClass">
    <div class="chat-header">
      {{currClass.code}}: {{currClass.name}}
    </div>
    <div class="chat-body" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <div class="chat-bubble" *ngFor="let message of conversation" [class.chat-bubble-other]="message.name !== name">
        <span class="chat-content">
          <div style="font-weight:700;color:#17252A;font-size:0.8rem">
            <span *ngIf="message.name === currClass.professor" class="ui label black tiny">Instructor</span> {{message.name}}</div>
          <div>{{message.content}}</div>
        </span>
        <span class="chat-time">{{message.time | date:'shortTime'}}</span>
      </div>
    </div>
    <div class="divider"></div>
    <div class="chat-input">
      <input type="text" [(ngModel)]="chatInput" name="chatInput" (keyup.enter)="sendChat()" style="width: 100%" placeholder="Message">
    </div>
  </div>
</div>