/* You can add global styles to this file, and also import other style files */
body {
    background-color:black;
    background-image: url("assets/coffeeblur.jpg");
    max-width: 100vw;
    max-height: 100vh;
    background-size: cover;
    background-position: 0ch;
    background-attachment: fixed;
    height: auto;
}
