.class-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 15px;
    grid-gap: 15px;
    margin-bottom: 15px;
}

.class-item {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    height: 200px;
    transition: all 0.2s ease-in-out;
    color: black;
    background-color: #feffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: .7;
}

.class-item:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.class-item h3 {
    text-align: center;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.class-item h1 {
    margin-bottom: -10px;
    transition: all 0.1s ease-in;
}

.class-item:hover h1 {
    font-size: 3rem;
    color: #2b7a78;
}

.class-item h5 {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0px;
}

.class-item.addbox {
    background-color: #7CC3C5;
    color: white;
}

.ui.fluid.icon.input input {
    margin-top: 15px;
}
.ui.fluid.icon.input i {
    margin-top: 7px;
}

input[type='text'] {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.searchbar {
    padding: 0px;
    grid-column: 1 / -1;
    margin: 0px !important;
    width: 100%;
}